.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.boxes {
  height: 80vh;
  overflow: hidden;
  border-radius: 2vh;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.googleMaps {
  display: flex;
}

.statescol {
  padding-bottom: 20px;
}

.districtbtn {
  margin: 4px;
}

.spinner {
  position: absolute;
  left: 50vh;
  top: 35vh;
}

.map {
  padding: 0vh 4vh 6vh 0vh;
}

.districtbox {
  height: 80vh;
  overflow: auto;

  display: flex;
  flex-direction: column;
  align-items: left;
}